.Item {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-bottom: 20px;
    background-color:  #667292;
}

.Img {
    width: 100px;
    height: 100px;
}

.Item_info {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
}

.Item_name {
    font-size: 20px;
    font-weight: bold;
}

