.ItemOrderDetails {
    display: flex;
    justify-content: space-between;
    background-color: #8d9db6;
    padding: 20px;
    margin-bottom: 10px;
    align-items: center;
    color: white;
}

.ItemOrderDetails p {
    width: 20%;
}

.Price {
    font-size: 11px;
}

.RemoveBtn {
    width: 35px;
    height: 20px;
    background-color: #f1e3dd;
    border: none;
}