.ItemOrderDetails {
    display: flex;
    justify-content: space-between;
    background-color: #8d9db6;
    padding: 20px;
    margin-bottom: 10px;
    align-items: center;
    color: white;
}

.ItemOrderDetails_name {
    width: 30%;
    margin-right: 30px;
}

.ItemOrderDetails p {
    width: 15%;
}

.ItemOrderDetails_price {
    font-size: 11px;
}

.ItemOrderDetails_rmvBtn,
.ItemOrderDetails_rmvAllBtn {
    border: none;
    height: 20px;
}

.ItemOrderDetails_rmvBtn:hover,
.ItemOrderDetails_rmvAllBtn:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.ItemOrderDetails_rmvBtn {
    width: 25px;
    background-color: #edf2f6;
}

.ItemOrderDetails_rmvAllBtn {
    background-color: #667292;
    color: #dee7ef;
}