body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Container {
  max-width: 1200px;
  padding: 30px 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.Container_order {
  width: 37%;
  border: 1px solid #f1e3dd;
  padding: 15px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
}

.Container_items {
  width: 50%;
  padding: 15px;
  height: 600px;
  background-color: #bccad6;
}

.Container_items_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2 {
  color: #667292;
  text-align: center;
}
